<mat-sidenav-container class="sidebar pt-3">
  <!-- <mat-sidenav></mat-sidenav> -->
  <mat-sidenav-content class="sidebar-menu pb-3">
    <div class="menu-header">
      <div class="logo-picture">
        <img src="../../../assets/img/logo.png" alt="Logo">
      </div>
      BlueBag
    </div>
    <ul class="menu-items">
      <li>
        <a href="#" routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-columns"></i>
          <span>Dashboard</span>
          <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
        </a>
      </li>
      <li>
        <a href="#" routerLink="/forms" routerLinkActive="active">
          <i class="fas fa-shopping-cart"></i>
          <span>Pedidos</span>
        </a>
      </li>
      <!-- <li *ngIf="!verificarPermissao([ROLES.OPERADOR])"> -->
      <li>
        <a href="#" routerLink="/tables" routerLinkActive="active">
          <i class="fa fa-users"></i>
          <span>Usuários</span>
        </a>
      </li>
      <!-- <li *ngIf="!verificarPermissao([ROLES.OPERADOR])"> -->
      <li>
        <a href="#" routerLink="/typography" routerLinkActive="active">
          <i class="fa fa-user-tie"></i>
          <span>Operadores</span>
        </a>
      </li>
      <!-- <li *ngIf="!verificarPermissao([ROLES.OPERADOR])"> -->
      <li>
        <a href="#" routerLink="/maps" routerLinkActive="active">
          <i class="fa fa-store"></i>
          <span>Grupos e Mercados</span>
        </a>
      </li>
      <!-- <li *ngIf="!verificarPermissao([ROLES.OPERADOR])"> -->
      <li>
        <a href="#" routerLink="/notifications" routerLinkActive="active">
          <i class="fa fa-shopping-basket"></i>
          <span>Notificações</span>
        </a>
      </li>
    </ul>
  </mat-sidenav-content>
</mat-sidenav-container>
